apiVersion: apps/v1
kind: Deployment
metadata:
  name: carts
  namespace: mogambo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: carts
  template:
    metadata:
      labels:
        app: carts
    spec:
      containers:
        - name: carts
          image: mohamedadel9988/carts:latest
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: carts
  namespace: mogambo
spec:
  selector:
    app: carts
  ports:
    - port: 80
      targetPort: 80
  type: ClusterIP
