apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: mogambo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: mohamedadel9988/frontend:latest
          ports:
            - containerPort: 8079
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: mogambo
spec:
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 8079
  type: LoadBalancer
